<md-card>
    <md-card-title>
        <span *ngIf="question.id"> Edit Question</span>
        <span *ngIf="!question.id"> Save Question</span>
    </md-card-title>
    <md-card-content>
        <form>
            <md-form-field class="fullwidth">
                <input [(ngModel)]="question.text" name="text" mdInput placeholder="Question">
            </md-form-field>
            
            <md-form-field class="fullwidth">
                <input [(ngModel)]="question.correctAnswer" name="correctAnswer" mdInput placeholder="Correct Answer">
            </md-form-field>
            <md-form-field class="fullwidth">
                <input [(ngModel)]="question.answer01" name="answer01" mdInput placeholder="Wrong Answer 01">
            </md-form-field>
            <md-form-field class="fullwidth">
                <input [(ngModel)]="question.answer02" name="answer02" mdInput placeholder="Wrong Answer 02">
            </md-form-field>
            <md-form-field class="fullwidth">
                <input [(ngModel)]="question.answer03" name="answer03" mdInput placeholder="Wrong Answer 03">
            </md-form-field>
        </form>
    </md-card-content>
    <md-card-actions>
        <button *ngIf="!question.id" (click)="post(question)" md-button>Post</button>
        <button *ngIf="question.id" (click)="post(question)" md-button>Edit</button>
        <button *ngIf="question.id" (click)="question={}" md-button>New</button>
    </md-card-actions>
</md-card>