<md-card>
    <md-card-title>
        <span *ngIf="quiz.id"> Edit quiz</span>
        <span *ngIf="!quiz.id"> Save quiz</span>
    </md-card-title>
    <md-card-content>
        <form>
            <md-form-field class="fullwidth">
                <input [(ngModel)]="quiz.title" name="text" mdInput placeholder="Quiz Title">
            </md-form-field>
        </form>
    </md-card-content>
    <md-card-actions>
        <button *ngIf="!quiz.id" (click)="post(quiz)" md-button>Post</button>
        <button *ngIf="quiz.id" (click)="api.putQuiz(quiz)" md-button>Edit</button>
        <button *ngIf="quiz.id" (click)="quiz={}" md-button>New</button>
    </md-card-actions>
</md-card>